* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightskyblue;
  background-image: url('../public/assets/images/clouds.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-search {
  width: 1000px;
  position: relative;
  border-radius: 10% / 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

.container-weather {
  width: 600px;
  position: relative;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
}

.search-text {
  font-size: 2rem;
  font-weight: 700;
}

.navbar {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.link {
  padding: 5px;
  font-size: 14px;
  color: black;
}

.link:hover {
  color: black;
}

.link:visited {
  color: black;
}

.search {
  border-radius: 0;
}